@use './variables' as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: v.$font;
    background-color: v.$primary;
    @media screen and (min-width: 700px) {
      text-align: unset;
    }
    @media screen and (min-width: 1300px) {
      align-items: center;
    }
    .pattern-dots {
      display: none;
      @media screen and (min-width: 700px) {
        display: block;
        padding-top: 153px;
        padding-left: 30px;
      }
      @media screen and (min-width: 1300px) {
        text-align: right;
        padding: 0;
        margin-top: -65px;
        width: 1440px;
      }
    }
    .backgroundImg {
      background-image: v.$mobileImg;
      background-repeat: no-repeat;
      min-height: 667px;
      background-size: cover;
      @media screen and (min-width: 700px) {
        background-image: v.$tabletImg;
        padding-top: 258px;
        background-size: contain;
        background-position: right;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      @media screen and (min-width: 1300px) {
        background-image: v.$desktopImg;
        padding: 0;
        padding-left: 165px;
        margin-top: 130px;
        background-size: auto;
        min-width: 1440px;
      }
      .cont {
        @media screen and (min-width: 700px) {
          padding-right: 94px;
        }
        @media screen and (min-width: 1300px) {
          padding: 0;
          max-width: 732px;
          min-height: 537px;
        }
      }
      header {
        padding: 62px 120px 0;
        @media screen and (min-width: 700px) {
          position: absolute;
          padding: 0;
          top: 0;
          padding: 50px 0 0 39px;
        }
        @media screen and (min-width: 1300px) {
          padding-top: 102px;
          padding-left: 0px;
        }
        .logoPod {
          @media screen and(min-width: 700px) {
            padding: 0;
          }
        }
      }
      article,
      footer {
        @media screen and(min-width: 700px) {
          background-color: v.$primary;
        }
      }
      article {
        padding: 57px 24px 0;
        @media screen and(min-width: 700px) {
          padding: 93px 0px 0px 39px;
        }
        @media screen and(min-width: 1300px) {
          padding: 0;
        }
        .title {
          text-transform: uppercase;
          font-size: v.$titleSizeMob;
          line-height: v.$titleLHMob;
          color: v.$white;
          @media screen and (min-width: 700px) {
            font-size: v.$titleTSize;
            line-height: v.$titleTLH;
          }
          @media screen and (min-width: 1300px) {
            font-size: v.$titleSize;
            line-height: v.$titleLH;
            padding-top: 93px;
          }
          .titleGreen {
            color: v.$lightGreen;
          }
        }
        .text {
          padding-top: 16px;
          font-size: v.$textSizeMob;
          line-height: v.$textLHMob;
          color: v.$textColor;
          @media screen and(min-width: 700px) {
            font-size: v.$textSize;
            line-height: v.$textLH;
            padding: 31px 190px 0 0;
          }
          @media screen and(min-width: 1300px) {
            padding: 24px 278px 0 0;
          }
        }
      }
      .footer {
        display: flex;
        flex-direction: column-reverse;
        @media screen and(min-width: 700px) {
          flex-direction: column;
          padding-top: 40px;
        }
        .logos {
          display: flex;
          padding: 33px 30px 0;
          opacity: 0.5;
          align-items: center;
          justify-content: space-between;
          @media screen and(min-width: 700px) {
            padding: 64px 99px 0 39px;
          }
          @media screen and(min-width: 1300px) {
            padding: 64px 187px 0 0;
          }
          .spotify {
            width: 56px;
            height: 17px;
            @media screen and (min-width: 700px) {
              width: 96px;
              height: 29px;
            }
          }
          .apple {
            width: 45px;
            height: 17px;
            @media screen and (min-width: 700px) {
              width: 78px;
              height: 29px;
            }
          }
          .google {
            width: 73px;
            height: 11px;
            @media screen and (min-width: 700px) {
              width: 125px;
              height: 18px;
            }
          }
          .pocket {
            width: 77px;
            height: 15px;
            @media screen and (min-width: 700px) {
              width: 129px;
              height: 26px;
            }
          }
        }
        .email {
          padding: 48px 24px 94px;
          @media screen and(min-width: 700px) {
            padding: 0;
            padding-left: 39px;
          }
          @media screen and(min-width: 1300px) {
            padding: 0;
          }
          .input,
          .btn {
            border-radius: 28px;
          }
          .input {
            font-family: v.$font;
            font-size: v.$emailTextSize;
            line-height: v.$emailTextLH;
            background-color: v.$emailColor;
            font-weight: 700;
            color: v.$white;
            width: 100%;
            max-width: 400px;
            padding: 9px 0px 9px 32px;
            border: none;
            @media screen and(min-width: 700px) {
              padding: 14px 0px 14px 32px;
              max-width: 427px;
            }
            @media screen and(min-width: 1300px) {
              padding-right: 175px;
            }
          }
          .input:focus {
            border: none;
            outline: none;
          }
          .btn {
            font-family: v.$font;
            text-transform: capitalize;
            font-size: v.$emailTextSize;
            font-weight: 700;
            line-height: v.$emailTextLH;
            color: v.$primary;
            background-color: v.$lightGreen;
            padding: 9px 109px;
            margin-top: 16px;
            border: none;
            z-index: 2;
            @media screen and(min-width: 700px) {
              margin-left: -170px;
              padding: 9px 27px;
            }
          }
          .btn:hover {
            cursor: v.$cursor;
            background-color: v.$btnHover;
          }
        }

        .error {
          font-size: v.$errorText;
          line-height: v.$errorTextLH;
          color: v.$errorColor;
          padding-top: 9px;
          margin-bottom: -40px;
          display: none;
          @media screen and (min-width: 700px) {
            padding: 9px 0 0 64px;
            margin: 0;
          }
          @media screen and (min-width: 1300px) {
            padding: 9px 0 0 32px;
          }
        }
      }
    }
  }
}
