@use "../_variables" as v;

body {
  font-family: v.$font;
  background-color: v.$primary;
  main {
    background-image: v.$mobileImg;
    background-repeat: no-repeat;
    article {
      .title {
        text-transform: uppercase;
        font-size: v.$titleSizeMob;
        line-height: v.$titleLHMob;
        color: v.$white;
        .titleGreen {
          color: v.$lightGreen;
        }
      }
      .text {
        font-size: v.$textSizeMob;
        line-height: v.$textLHMob;
        color: v.$textColor;
      }
    }
    footer {
      .email {
        .btn {
          font-family: v.$font;
          text-transform: capitalize;
          font-size: v.$emailTextSize;
          font-weight: 700;
          line-height: v.$emailTextLH;
          color: v.$primary;
          background-color: v.$lightGreen;
        }
        .btn:hover,
        .btn:active {
          cursor: v.$cursor;
          background-color: v.$btnHover;
        }
        .input {
          font-family: v.$font;
          font-size: v.$emailTextSize;
          line-height: v.$emailTextLH;
          background-color: v.$emailColor;
          font-weight: 700;
          color: v.$white;
        }
        .input:focus {
          border: none;
          outline: none;
        }
      }
      .error {
        font-size: v.$errorText;
        line-height: v.$errorTextLH;
        color: v.$errorColor;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  body {
    .backgroundImg {
      background-image: v.$tabletImg;
      article,
      footer {
        background-color: v.$primary;
      }
      article {
        .title {
          font-size: v.$titleTSize;
          line-height: v.$titleTLH;
        }
        .text {
          font-size: v.$textSize;
          line-height: v.$textLH;
        }
      }
    }
  }
}
@media screen and (min-width: 1300px) {
  body {
    .backgroundImg {
      background-image: v.$desktopImg;
      .cont {
        article {
          .title {
            font-size: v.$titleSize;
            line-height: v.$titleLH;
          }
        }
        footer {
          .email {
            .btn:hover {
              cursor: v.$cursor;
            }
          }
        }
      }
    }
  }
}
