@media screen and (min-width: 700px) {
  body {
    text-align: unset;
    .pattern-dots {
      display: block;
      padding-top: 153px;
      padding-left: 30px;
    }
    main {
      padding-top: 258px;
      padding-bottom: 257;
      header {
        position: absolute;
        padding: 0;
        top: 0;
        padding: 50px 0 0 39px;
        .logoPod {
          padding: 0;
        }
      }
    }
    .backgroundImg {
      background-size: contain;
      background-position: right;
      background-image: linear-gradient(
          to bottom,
          rgba(18, 23, 37, 0.1),
          rgba(18, 23, 37, 0.1)
        ),
        url("../images/tablet/image-host.jpg");
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .cont {
        padding-right: 94px;
      }
      article {
        padding: 93px 0px 0px 39px;
        .text {
          padding: 31px 190px 0 0;
        }
      }
      footer {
        flex-direction: column;
        padding-top: 40px;
        .email {
          padding: 0;
          padding-left: 39px;
          .input {
            padding: 14px 0px 14px 32px;
            max-width: 427px;
          }
          .btn {
            margin-left: -170px;
            padding: 9px 27px;
          }
        }
        .logos {
          padding: 64px 99px 0 39px;
        }
      }
    }
  }
}
