@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;700&display=swap");
body {
  font-family: "Chivo", sans-serif;
  background-color: #121725;
}
body main {
  background-image: linear-gradient(to bottom, rgba(18, 23, 37, 0.9), rgba(18, 23, 37, 0.9)), url("../images/mobile/image-host.jpg");
  background-repeat: no-repeat;
}
body main article .title {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 38px;
  color: #ffffff;
}
body main article .title .titleGreen {
  color: #54e6af;
}
body main article .text {
  font-size: 15px;
  line-height: 25px;
  color: #c2cbe5;
}
body main footer .email .btn {
  font-family: "Chivo", sans-serif;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  color: #121725;
  background-color: #54e6af;
  z-index: 10;
}
body main footer .email .btn:hover,
body main footer .email .btn:active {
  cursor: url("../images/pointer.png"), pointer;
  background-color: #b3ffe2;
}
body main footer .email .input {
  font-family: "Chivo", sans-serif;
  background-color: #2c344b;
  font-size: 14px;
  line-height: 28px;
  background-color: #2c344b;
  font-weight: 700;
}
body main footer .email .input:focus {
  border: none;
  outline: none;
}
body main footer .error {
  font-size: 12px;
  line-height: 14px;
  color: #fb3e3e;
}

@media screen and (min-width: 700px) {
  body .backgroundImg {
    background-image: linear-gradient(to bottom, rgba(18, 23, 37, 0.1), rgba(18, 23, 37, 0.1)), url("../images/tablet/image-host.jpg");
  }
  body .backgroundImg article,
body .backgroundImg footer {
    background-color: #121725;
  }
  body .backgroundImg article .title {
    font-size: 48px;
    line-height: 56px;
  }
  body .backgroundImg article .text {
    font-size: 18px;
    line-height: 28px;
  }
}
@media screen and (min-width: 1300px) {
  body .backgroundImg {
    background-image: url("../images/desktop/image-host.jpg");
  }
  body .backgroundImg .cont article .title {
    font-size: 52px;
    line-height: 62px;
  }
  body .backgroundImg .cont footer .email .btn:hover {
    cursor: url("../images/pointer.png"), pointer;
  }
}
body {
  display: flex;
  text-align: center;
  flex-direction: column;
}
body .pattern-dots {
  display: none;
}
body .backgroundImg {
  min-height: 667px;
  background-size: cover;
}
body main header {
  padding: 62px 120px 0;
}
body main article {
  padding: 57px 24px 0;
}
body main article .text {
  padding-top: 16px;
}
body main footer {
  display: flex;
  flex-direction: column-reverse;
}
body main footer .logos {
  display: flex;
  padding: 33px 30px 0;
  opacity: 0.5;
  align-items: center;
  justify-content: space-between;
}
body main footer .logos .spotify {
  width: 56px;
  height: 17px;
}
body main footer .logos .apple {
  width: 45px;
  height: 17px;
}
body main footer .logos .google {
  width: 73px;
  height: 11px;
}
body main footer .logos .pocket {
  width: 77px;
  height: 15px;
}
body main footer .email {
  padding: 48px 24px 94px;
}
body main footer .email .input,
body main footer .email .btn {
  border-radius: 28px;
}
body main footer .email .input {
  width: 100%;
  max-width: 400px;
  padding: 9px 0px 9px 32px;
  border: none;
}
body main footer .email .btn {
  padding: 9px 109px;
  margin-top: 16px;
  border: none;
}
body main footer .error {
  padding-top: 9px;
  margin-bottom: -40px;
  display: none;
}

@media screen and (min-width: 700px) {
  body {
    text-align: unset;
  }
  body .pattern-dots {
    display: block;
    padding-top: 153px;
    padding-left: 30px;
  }
  body main {
    padding-top: 258px;
    padding-bottom: 257;
  }
  body main header {
    position: absolute;
    padding: 0;
    top: 0;
    padding: 50px 0 0 39px;
  }
  body main header .logoPod {
    padding: 0;
  }
  body .backgroundImg {
    background-size: contain;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  body .backgroundImg .cont {
    padding-right: 94px;
  }
  body .backgroundImg article {
    padding: 93px 0px 0px 39px;
  }
  body .backgroundImg article .text {
    padding: 31px 190px 0 0;
  }
  body .backgroundImg footer {
    flex-direction: column;
    padding-top: 40px;
  }
  body .backgroundImg footer .error {
    padding: 9px 0 0 64px;
  }
  body .backgroundImg footer .email {
    padding: 0;
    padding-left: 39px;
  }
  body .backgroundImg footer .email .input {
    padding: 14px 0px 14px 32px;
    max-width: 427px;
  }
  body .backgroundImg footer .email .btn {
    margin-left: -170px;
    padding: 9px 27px;
  }
  body .backgroundImg footer .logos {
    padding: 64px 99px 0 39px;
  }
  body .backgroundImg footer .logos .spotify {
    width: 96px;
    height: 29px;
  }
  body .backgroundImg footer .logos .apple {
    width: 78px;
    height: 29px;
  }
  body .backgroundImg footer .logos .google {
    width: 125px;
    height: 18px;
  }
  body .backgroundImg footer .logos .pocket {
    width: 129px;
    height: 26px;
  }
}
@media screen and (min-width: 1300px) {
  body {
    align-items: center;
  }
  body .pattern-dots {
    text-align: right;
    padding: 0;
    margin-top: -65px;
    width: 1440px;
  }
  body .backgroundImg {
    padding: 0;
    padding-left: 165px;
    margin-top: 130px;
    background-size: auto;
    min-width: 1440px;
  }
  body .backgroundImg header {
    padding-top: 102px;
    padding-left: 0px;
  }
  body .backgroundImg .cont {
    padding: 0;
    max-width: 732px;
    min-height: 526px;
  }
  body .backgroundImg .cont article {
    padding: 0;
  }
  body .backgroundImg .cont article .title {
    padding-top: 93px;
  }
  body .backgroundImg .cont article .text {
    padding: 24px 278px 0 0;
  }
  body .backgroundImg .cont .footer .error {
    padding: 9px 0 0 32px;
  }
  body .backgroundImg .cont .footer .email {
    padding: 0;
  }
  body .backgroundImg .cont .footer .email .input {
    padding-right: 175px;
  }
  body .backgroundImg .cont .footer .email .btn {
    margin-top: 0px;
    z-index: 2;
  }
  body .backgroundImg .cont .footer .logos {
    padding: 64px 187px 0 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=css.css.map */
